###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/var/*
!var/logs/.gitkeep
!var/cache/.gitkeep
/build/
/bin/*
!/bin/console
/node_modules/
/public/assets/
/public/js/
/assets/sass/vendor/
/assets/sass/generated/
/.sass-cache/
/app/Resources/views/favicons/
/docker/data
/docker-compose.override.yml
.php_cs.cache

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
