/web/bundles/
/app/config/parameters.yml
/var/*
!var/logs/.gitkeep
!var/cache/.gitkeep
/build/
/vendor/
/bin/*
!/bin/console
/composer.phar
/node_modules/
/web/assets/
/web/js/
/src/Afup/BarometreBundle/Resources/assets/sass/vendor/
/src/Afup/BarometreBundle/Resources/assets/sass/generated/
/.sass-cache/
/app/Resources/views/favicons/
/docker/data
/docker-compose.override.yml
