/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/bower_components/
/node_modules/
/web/assets/
/src/Afup/BarometreBundle/Resources/assets/sass/vendor/
/src/Afup/BarometreBundle/Resources/assets/sass/generated/
/.sass-cache/
/app/Resources/views/favicons/
/docker/data
/.bundle/
/.vendors/
/docker-compose.override.yml

.php_cs.cache
