version: '3.1'

services:
  db:
    image: mysql:5.5
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: barometreuser
      MYSQL_PASSWORD: barometrepass
      MYSQL_DATABASE: barometre
    volumes:
      - ./docker/data/mysql:/var/lib/mysql
