.select2-container--bootstrap {
  .select2-selection--multiple {
    .select2-selection__choice {
      background: $afup-blue;
      border: 1px solid $afup-blue;
      color: #fff;
    }

    .select2-selection__choice__remove {
      color: #fff;
      margin-top: -5px;
      opacity: .8;
      vertical-align: middle;
      width: 12px;

      &:hover {
        color: #fff;
        opacity: 1;
        text-decoration: none;
      }
    }
  }
}

.select2-drop {
  z-index: $zindex-navbar - 50;
}
