.select2 {
  width:400px;
}

.filter-row {
  @extend .row;
  margin-bottom: 2px;
}

.filter-label {
  @extend .col-md-3;
  text-align: right;
}

.filter-content {
  @extend .col-md-9;
}

#q_submit {
  margin-top: 4px;
}

