.filter-line {
  @extend .row;
  margin: 0 15px 0 15px;
}

.select2 {
  width:100%;
}

.filter-row {
  @extend .row;
  @extend .col-md-4;
  min-height: 40px;
  margin-bottom: 2px;
}

.filter-label {
  @extend .col-md-12;
  text-align: left;
  font-size: 0.7em;
  height: 14px;
}

.filter-content {
  @extend .col-md-12;
  text-align: center;
}


#q_submit {
  margin-top: 4px;
}

$select2FontSize: 0.85em;

.select2-container-multi .select2-choices .select2-search-choice {
  background-color: #1ebdff;
  border: none;
  background-image: none;
  font-variant: small-caps;
  font-size: $select2FontSize;
  color: #fff;
  border-radius: 0;
}

.select2-result-label {
  font-size: $select2FontSize;
}

#filter_submit {
  background-color: #2e4279;
  border: none;
  color: #fff;
  padding: 5px 15px;
}

#filter_submit:hover {
  background-color: #3cc6ff;

}

.filter-salary {
  @extend .row;
  .min, .max {
    @extend .col-md-6;
    input {
      border: 1px solid #aaa;
    }
  }
  .max {
    padding: 0;
  }
}
