body {
    padding-top: $navbar-height;
}

/* Menu */

.menu {
    position: fixed;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
}

/* Header */

.navbar-brand {
    font-weight: 500;
    text-transform: uppercase;
}

.logo {

    display: block;
    float: left;

    &.afup {
        height: 50px;
        margin: 5px 20px;
    }

    &.agencee {
        height: 38px;
        margin: 11px 20px;
    }
}

/* Main */

.main {
    margin: 0 $grid-gutter-width/2;
}

/* Common */

.mg-top {
    margin-top: 20px;
}

/* Select 2 */

.select2-container-multi .select2-choices .select2-search-choice {
    background: $afup-blue;
    color: white;
    border: 1px solid darken($afup-blue, 25%);
}
