body {
    padding-top: $navbar-height;
}

@font-face {
  font-family: 'Glegoo';
  font-style: normal;
  font-weight: 400;
  src: local('Glegoo'), local('Glegoo-Regular'), url(http://fonts.gstatic.com/s/glegoo/v3/8x8S7gQMbbduiGv8gbUJ0Q.woff) format('woff');
}
