#wrapper {
  padding-left: 260px;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #147FAB;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
}


#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #000;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #000;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 16px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #1EBDFF;
  background: none;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0px;
}

h2 {
  font-size: 1.35em;
  font-weight: bold;
  margin: 10px 0px;
}
