#map {
  float: left;
  margin-right: 1ex;
  text-align:center;
  width:100%;

  svg {
    width: 500px;
    height: 500px;
  }
}

#background path {
  stroke-width: 0.2px;
  stroke: black;
  fill: none;
}


div.tooltip {
  position: absolute;
  text-align: center;
  height: 28px;
  padding: 2px;
  font: 0.78em;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

