.report-title {
  font-size: 1.35em;
  font-weight: bold;
  margin: 10px 0px;
  padding: 0 0 0 5px;
  text-align: left;
  background-color: #3cc6ff;
  font-variant: small-caps;
  color: #fff;
  width: 45%;
  right: 0;
  top: 0;
  position: absolute;
}
