// Variables
@import "variables";

// Bootstrap
@import "bootstrap_variables";
@import "bootstrap";

// Select2
@import "vendor/select2";
@import "vendor/select2-bootstrap";

// Colorbrewer
@import "vendor/colorbrewer";

//github ribbon
@import "vendor/github-fork-ribbon/gh-fork-ribbon";

@import "generated/icons";

// Barometre
@import "global";

@import "page/menu";
@import "page/header";
@import "page/footer";
@import "page/main";

@import "ui/typo";
@import "ui/margins";

@import "tablesorter";
@import "select2";
@import "map";
@import "filters-summary";
@import "results";
@import "filters";
@import "github-ribbon";
