.navbar-brand {
  font-family: $font-family-title;
  font-weight: 500;
  padding: 20px;
  text-transform: uppercase;
}

.logo {

  display: block;
  float: left;

  &.afup {
    height: 40px;
    margin: 10px 20px;
  }

  &.jdn {
    height: 40px;
    margin: 5px 20px;
  }
}
