.menu {
    position: fixed;
    padding-top: $grid-gutter-width/2;
    padding-bottom: $grid-gutter-width/2;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .menu {
        position: static;
    }
}
