<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
         {% stylesheets
            '@AfupBarometreBundle/Resources/assets/css/vendor/bootstrap.css'
            '@AfupBarometreBundle/Resources/assets/css/vendor/select2.css'
            '@AfupBarometreBundle/Resources/assets/css/vendor/select2-bootstrap.css'
            '@AfupBarometreBundle/Resources/assets/css/main.css'
         %}
            <link href="{{ asset_url }}" rel="stylesheet" />
          {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
         {% javascripts 
            '@AfupBarometreBundle/Resources/assets/js/vendor/jquery-1.11.0.js'
            '@AfupBarometreBundle/Resources/assets/js/vendor/select2.js'
            '@AfupBarometreBundle/Resources/assets/js/main.js'
         %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
          {% endjavascripts %}
        {% endblock %}
    </body>
</html>
