<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{% block title 'Baromètre AFUP' %}</title>

        {% block meta %}
        <meta name="description" content="{% block meta_description '' %}">
        <meta name="viewport" content="width=device-width">
        {% endblock meta %}

        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Glegoo' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ compiled_css_file }}" />
        {% endblock stylesheets %}

        {% block head_javascript %}
            {#<script src="js/vendor/modernizr-2.6.2.min.js"></script>#}
        {% endblock head_javascript %}
    </head>
    <body>
        {% block body '' %}
        {% block body_javascript %}
            <script src="{{ compiled_js_file }}"></script>
            {% block analytics '' %}
            {% block inline_javascript '' %}
        {% endblock body_javascript %}
    </body>
</html>