<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>{% block title 'Baromètre AFUP' %}</title>

        {% block meta %}
        <meta name="description" content="{% block meta_description '' %}">
        <meta name="viewport" content="width=device-width">
        {% endblock meta %}

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ compiled_css_file }}" />
        {% endblock stylesheets %}
        {% block ga '' %}
    </head>
    <body>
        {% block body '' %}
        {% block body_javascript %}
            <script src="{{ compiled_js_file }}"></script>
        {% endblock body_javascript %}
    </body>
</html>
