<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Baromètre AFUP{% endblock %}</title>
        <link rel='stylesheet' href='{{ compiled_css_file }}' type='text/css' />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="#">Baromètre AFUP</a>
                </div>

                {{ knp_menu_render('menu') }}
            </div>

            <div id="page-content-wrapper">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ compiled_js_file }}"></script>
        {% endblock %}
    </body>
</html>
