afup_barometre_homepage:
    path: /
    defaults:
        _controller: FrameworkBundle:Redirect:urlRedirect
        path: /campaign/2018
        permanent: false

afup_barometre_campaign:
    path: /report/{campaignName}
    defaults: {_controller: AfupBarometreBundle:Campaign:report }
    requirements:
        campaignName: '\d+'

afup_barometre_campaign_slash:
    path: /report/{campaignName}/
    defaults: {_controller: AfupBarometreBundle:Campaign:report }
    requirements:
        campaignName: '\d+'

afup_barometre_about:
    path: /about
    defaults: {_controller: AfupBarometreBundle:About:index }

afup_barometre_report:
    path:  /report/{reportName}
    defaults: { _controller: AfupBarometreBundle:Default:index }

afup_barometre_press_review:
    path: /press_review
    defaults: {_controller: AfupBarometreBundle:PressReview:index }


afup_barometre_form:
    path: /campaign/2018
    defaults: {_controller: AfupBarometreBundle:Campaign:form }
