parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            576cb917df25a75913295cedb90e2d8481868925fff

    ga_enabled: false

    min_result:        5

    doctrine.server_version: "5.6"
