{% extends "layout.html.twig" %}

{% block title %}{{ report.label|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {{ render(path('afup_barometre_report_detail', {reportName: report_name })) }}
        </div>
        <div class="col-md-3">
            <h1>Filtres</h1>
            {% block filters include('Filters/index.html.twig', {form: form}) %}
        </div>
    </div>
{% endblock %}
