{% extends '::base.html.twig' %}

{% block title %}A propos du  Baromètre AFUP{% endblock %}

{% block body %}
    <h1>A propos du  Baromètre AFUP</h1>

    <h2>Genèse du baromètre</h2>
    <p>
        Lors du forum PHP 2013 l’<a href="http://www.afup.org">Association Française des Utilisateurs de PHP (AFUP)</a> et le cabinet de recrutement spécialisé <a href="http://www.agence-e.fr/">Agence-e</a> ont publié le résultat d'une enquête auprès des développeurs PHP : <a href="http://afup.org/docs/barometre/Barometre-AFUP-Agence-e-2014-Les-salaires-de-l-ecosysteme-PHP-en-France.pdf">le baromètre AFUP – Agence-e 2014</a>, présentant la rémunération des développeurs PHP ainsi que l’écosystème PHP en France.
    </p>
    <p>
        Ce site a pour vocation de présenter les résultats de cette enquête en permettant de filtrer sur différents critères (le département, la rémunération, le type d'entreprise...) pour ainsi présenter des résultats plus en accord avec la situation du développeur les consultant.

        Il sera enrichi d'années en années avec les résultats des prochain baromètres.
    </p>

    <h2>Contributeurs</h2>

    <p>Les contributeurs sont listés sur <a href="https://github.com/afup/barometre/graphs/contributors">la page github du projet</a>.</p>

    <h2>Hébergement</h2>

    <p>TODO</p>

{% endblock %}
