{% extends "AfupBarometreBundle::layout.html.twig" %}

{% block title %}Répondez au questionnaire 2017 du baromètre des salaires{% endblock %}

{% block content %}
    <div class="row">

        <h1>Enquête 2017 AFUP et Human Coders sur les salaires de l'IT en France</h1>

        <p>L’AFUP et Human Coders lancent la version 2017 du baromètre des salaires en PHP ! C’est le retour de la seule enquête dédiée à PHP se penchant sur les rémunérations du développeur et sur son utilisation du langage en entreprise. Après quelques mois de pause, l’enquête repart sur un nouveau rythme, profitant ainsi du Forum PHP 2017 pour collecter un maximum de réponses et affiner ses résultats.</p>

        <p>Grâce au baromètre, le salarié ou l'indépendant peuvent se positionner correctement sur le marché du travail, et le dirigeant d'entreprise y trouve un outil précieux pour gérer la carrière de ses collaborateurs et l’évolution de leur rémunération. Le développeur peut comparer son salaire avec des profils identiques, et l’entreprise découvre un état des lieux du développement PHP. Cette enquête est utile et ses résultats sont riches en enseignement : participez !</p>
        <p>Vous aussi, répondez à l’enquête qui permettra de mieux faire valoir vos compétences auprès des RH. Aidez-nous à dessiner un profil du développeur en 2017 et coller au plus juste à la réalité du marché du travail !</p>

        <iframe src="" width="100%" height="810" frameborder="0" marginheight="0" marginwidth="0">
            Chargement en cours...
        </iframe>

    </div>
{% endblock %}
