{% extends "AfupBarometreBundle::layout.html.twig" %}

{% block title %}Résultats de la campagne 2015{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-8">
        <h1>Résultats de la campagne 2015</h1>

        <h2>Edito</h2>

            <p>Le centre de formation et de conseil <a href="https://www.humancoders.com/">Human Coders</a> et l’<a href="http://www.afup.org">association française des utilisateurs de PHP</a> (AFUP) vous présentent pour la troisième année consécutive le baromètre AFUP – Human Coders 2015 : les salaires des développeurs en France.</p>

            <p>Comme chaque année, le baromètre AFUP – Human Coders répond aux questions que tout le monde se pose :</p>
            <ul>
                <li>Combien gagne un développeur débutant ?</li>
                <li>Comment les salaires évoluent-ils avec l’expérience ?</li>
                <li>Quelles sont les technos qui rapportent le plus ?</li>
                <li>Dans quelles villes peut-on avoir les meilleurs salaires ?</li>
            </ul>

                <p>Nous espérons que vous aurez une vision claire du marché après consultation de ce baromètre AFUP – Human Coders.</p>

                <p>Nous vous souhaitons une excellente lecture.</p>

            <h3>Human Coders</h3>

            <p>Chez Human Coders, nous avons toujours œuvré à aider les développeurs à faire de la veille, découvrir de nouveaux langages ou technologies, se rencontrer, trouver les meilleurs jobs… Nous le faisons évidement au travers de nos formations, mais aussi grâce notre site d’actu, notre forum, les événements mensuels organisés partout en France par notre communauté…<br />
            C’est pourquoi il nous a paru tout à fait naturel d’accompagner l’AFUP pour la troisième édition du baromètre puisque cela s’inscrit pleinement dans notre démarche d’ouverture et d’information.</p>

            <h3>Afup</h3>

            <p>Le baromètre des salaires vous propose une approche unique sur la question, très sensible, de la rémunération en France. Le baromètre est porté par l'AFUP, une association garantissant une collecte impartiale et aucune récupération mercantile des données. A l'aide d'un partenaire adhérant à cette éthique, notre but est de permettre à tous la plus grande transparence sur la problématique de la rémunération, tout en préservant l'anonymat des répondants.</p>

            <p>L'<a href="http://www.afup.org">AFUP</a> tient chaleureusement à remercier toutes les personnes ayant répondu à l'enquête 2015 !</p>

            <h3>Le rapport 2015</h3>

            <p>Cette année nous vous faisons découvrir un rapport basé sur <a href="/report/salary">l'outil en ligne</a> développé par <a href="https://github.com/afup/barometre/graphs/contributors">les bénévoles</a> de l'AFUP. Vous pourrez ainsi approfondir les résulats à votre guise et, pourquoi pas, élaborer vos propres conclusions sur les problématiques qui vous intéressent particulièrement. N'hésitez pas à cliquer sur les liens proposés plus bas !</p>

            <p>Trois années de collectes de données représentent une étape importante, nous vous proposerons donc quelques statistiques aggrégées sur les trois périodes, ainsi qu'une analyse de la dynamique observée sur des critères sélectionnés.</p>


        <h2>Utilisation du baromètre des salaires</h2>

        <p>Le baromètre est tout d'abord conçu pour être utilisé par le salarié ou l'indépendant, afin qu'il puisse se positionner correctement sur le marché du travail. Par exemple, <a href="/report/salary?filter%5Bcampaign%5D%5B%5D=3&filter%5Bjob_title%5D%5B%5D=8&filter%5Bexperience%5D%5B%5D=1&filter%5Bdepartement%5D%5B%5D=75&filter%5Bdepartement%5D%5B%5D=77&filter%5Bdepartement%5D%5B%5D=78&filter%5Bdepartement%5D%5B%5D=91&filter%5Bdepartement%5D%5B%5D=92&filter%5Bdepartement%5D%5B%5D=93&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B%5D=1&filter%5Bstatus%5D%5B%5D=2&filter%5Bsubmit%5D=">un développeur de moins de 2 ans d'expérience sur Paris en emploi salarié</a>, pourra très facilement trouver les réponses des autres répondants. Il pourra chercher <a href="/report/speciality_salary?filter%5Bcampaign%5D%5B%5D=3&filter%5Bjob_title%5D%5B%5D=8&filter%5Bexperience%5D%5B%5D=1&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B%5D=1&filter%5Bstatus%5D%5B%5D=2&filter%5Bsubmit%5D=">la spécialité la plus avantageuse<a/>, ou bien <a href="/report/company_type?filter%5Bcampaign%5D%5B0%5D=3&filter%5Bjob_title%5D%5B0%5D=8&filter%5Bexperience%5D%5B0%5D=1&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B0%5D=1&filter%5Bstatus%5D%5B1%5D=2">quelles types d'entreprises embauchent le plus</a>.</p>


            <p>Par exemple s'il souhaite travailler hors Île-de-France et dans une startup. Il peut : </p>
            <ul>
                <li><a href="/report/company_department?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bdepartement%5D%5B%5D=all_but_paris&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bcompany_type%5D%5B%5D=5&filter%5Bsubmit%5D=">Visualiser géographiquement où sont situées les entreprises des répondants</a>,</li>
                <li>Observer la <a href="/report/experience_salary?filter%5Bcampaign%5D%5B0%5D=1&filter%5Bcampaign%5D%5B1%5D=2&filter%5Bcampaign%5D%5B2%5D=3&filter%5Bdepartement%5D%5B0%5D=all_but_paris&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bcompany_type%5D%5B0%5D=5">rémunération en fonction de l'expérience</a>,</li>
                <li><a href="/report/speciality?filter%5Bcampaign%5D%5B0%5D=1&filter%5Bcampaign%5D%5B1%5D=2&filter%5Bcampaign%5D%5B2%5D=3&filter%5Bdepartement%5D%5B0%5D=all_but_paris&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bcompany_type%5D%5B0%5D=5">Choisir une spécialité</a> adaptée.</li>
            </ul>

            <p><img src="/report/2015/Repartition_geographique.jpg" /></p>

            <p>Le dirigeant d'entreprise pourra y trouver un outil précieux pour gérer la carrière de ses collaborateurs, comme <a href="/report/experience_salary?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D=">l'évolution de leur rémunération</a>. Il pourra aussi faire une recherche géographique afin d'appronfondir <a href="/report/company_department?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bspecialities%5D%5B%5D=7&filter%5Bsubmit%5D=">les écarts entre départements sur une spécialité précise.</a></p>

        <p>Les données présentées sont utilisables sous licence <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/fr/">Creative Commons  BY-NC-ND</a></p>

        <h2>Rémunération au global</h2>

            <h3>Moyenne des rémunérations en emploi salarié en fonction de l'expérience</h3>

            <p>Les sondés bénéficient d'une progression constante de leur rémunération.</p>

        <a href="/report/experience_salary?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B%5D=1&filter%5Bstatus%5D%5B%5D=2&filter%5Bsubmit%5D">
            <img src="/report/2015/Salaire_en_fonction_de_l_experience.jpg" />
        </a>


            <p>Les écarts entre <a href="/report/experience_salary?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bdepartement%5D%5B%5D=75&filter%5Bdepartement%5D%5B%5D=77&filter%5Bdepartement%5D%5B%5D=78&filter%5Bdepartement%5D%5B%5D=91&filter%5Bdepartement%5D%5B%5D=92&filter%5Bdepartement%5D%5B%5D=93&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B%5D=1&filter%5Bstatus%5D%5B%5D=2&filter%5Bsubmit%5D=">Paris</a> et <a href="/report/experience_salary?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bdepartement%5D%5B%5D=all_but_paris&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B%5D=1&filter%5Bstatus%5D%5B%5D=2&filter%5Bsubmit%5D=">les autres régions</a> restent <strong>massifs</strong> ! Les profils les plus expérimentés semblent bénéficier plus facilement d'un avancement de leur rémunération si ils sont en région parisienne : avec une rémunération de 56 700 € pour les plus expérimentés sur Paris contre 41 300 € ailleurs.</p>

            <h3>Ecart de rémunération entre la région parisienne et les autres régions en fonction de l'expérience, en emploi salarié</h3>

<table class="table table-striped">
    <tr>
        <th>Expérience</th><th>Paris</th><th>Régions</th><th>écart moyen de rémunération</th>
    </tr>
    <tr>
        <td>0 à 2 ans</td><td>34 600 €</td><td>28 600 €</td><td>6 000 €</td>
    </tr>
    <tr>
        <td>3 à 5 ans</td><td>39 800 €</td><td>31 500 €</td><td>8 300 €</td>
    </tr>
    <tr>
        <td>6 à 10 ans</td><td>45 400 €</td><td>35 800 €</td><td>9 600 €</td>
    </tr>
    <tr>
        <td>Plus de 10 ans</td><td>56 700 €</td><td>41 300 €</td><td>15 400 €</td>
    </tr>
</table>

        <p>Cet écart a tendance <a href="/report/experience_salary?filter%5Bcampaign%5D%5B%5D=3&filter%5Bdepartement%5D%5B%5D=75&filter%5Bdepartement%5D%5B%5D=77&filter%5Bdepartement%5D%5B%5D=78&filter%5Bdepartement%5D%5B%5D=91&filter%5Bdepartement%5D%5B%5D=92&filter%5Bdepartement%5D%5B%5D=93&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B%5D=1&filter%5Bstatus%5D%5B%5D=2&filter%5Bsubmit%5D=">à s'accentuer</a> en 2015 avec une rémunération moyenne de 62 100 € contre 57 600 € sur les trois dernière années.</p>



            <h3>Intérêt de la rémunération variable</h3>

        <p>La <a href="/report/variable_salary?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B%5D=1&filter%5Bstatus%5D%5B%5D=2&filter%5Bsubmit%5D=">part variable de la rémunération</a> reste faible dans nos métiers ; de 4 à 6%  selon l'expérience.</p>

            <h3>Le CDI reste la norme</h3>

            Sans surprise, <a href="/report/status?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D=">l'emploi salarié en CDI reste la norme</a>. On constate une légère diminution du nombre de freelances ayant répondu à l'enquête.

        <h2>Focus sur les jeunes développeurs</h2>

            <h3>Type d'entreprise en emploi salarié chez les jeunes</h3>

            <p>Sans suprise aussi, les SSII emploient beaucoup de jeunes développeurs mais les startup semblent aussi s'y intéresser beaucoup.</p>

            <p><a href="/report/company_type?filter%5Bcampaign%5D%5B0%5D=1&filter%5Bcampaign%5D%5B1%5D=2&filter%5Bcampaign%5D%5B2%5D=3&filter%5Bexperience%5D%5B0%5D=1&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bstatus%5D%5B0%5D=1&filter%5Bstatus%5D%5B1%5D=2"><img src="/report/2015/Distribution_des_types_d_entreprises.jpg" /></a></p>


            <p>En 2015, les startups semblent encore plus attractives, avec un <a href="/report/company_type?filter%5Bcampaign%5D%5B0%5D=3&filter%5Bexperience%5D%5B0%5D=1&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=">score presque équivalent aux SSII.</a> (peut-être aussi un élargissement du sens du mot startup, que beaucoup d'entreprises semblent utiliser)</p>

            <h3>Spécialités choisies par les jeunes développeurs</h3>

            <p><a href="/report/speciality?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bexperience%5D%5B%5D=1&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D="><img src="/report/2015/Distribution_des_specialites.jpg" /></a></p>

            <p>Symfony et Wordpress dominent largement les réponses. <a href="/report/speciality?filter%5Bcampaign%5D%5B%5D=1&filter%5Bcampaign%5D%5B%5D=2&filter%5Bcampaign%5D%5B%5D=3&filter%5Bexperience%5D%5B%5D=3&filter%5Bexperience%5D%5B%5D=4&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D=">Pour les personnes plus expérimentées</a>, Zend Framework détrone Wordpress à la seconde place.</p>

            <p>En 2015, Symfony <a href="/report/speciality?filter%5Bcampaign%5D%5B%5D=3&filter%5Bexperience%5D%5B%5D=1&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D=">creuse encore son avance</a>.</p>

            <h3>Fonctions exercées dans l'entreprise</h3>

            <p>Les juniors intègrent le monde du travail d'abord au poste de développeur.</p>

            <table class="table table-striped">
                <tr>
                    <th>Poste</th><th>Effectif</th>
                </tr>
                <tr>
                    <td>Consultant</td>
                    <td>7 %</td>
                </tr>
                <tr>
                    <td>Lead devéloppeur</td>
                    <td>5 %</td>
                </tr>
                <tr>
                    <td>Chef de projet</td>
                    <td>2 %</td>
                </tr>
                <tr>
                    <td><strong>Devéloppeur</strong></td>
                    <td><strong>86 %</strong></td>
                </tr>
            </table>


        <h3>Salaire par spécialité choisie</h3>

        <p>Symfony a le vent en poupe avec un passage d'une rémunération de <a href="/report/speciality_salary?filter%5Bcampaign%5D%5B%5D=2&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D=">27 500 €</a> en 2014 à <a href="/report/speciality_salary?filter%5Bcampaign%5D%5B%5D=3&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D=">29 400 €</a> en 2015 pour les jeunes développeurs. Toutefois, pour eux, il reste préférable de démarrer sur un CMS populaire comme Wordpress ou Drupal, qui proposent une meilleure rémunération initiale (plus de 30 000 €).</p>



        <p>Les salaires augmentent régulièrement avec l'expérience. Malgré tout, dans la catégorie des plus de 10 ans, on constate une explosion de la rémunération pour ceux pratiquant Zend Framework ou des CMS ou frameworks moins connus</p>

        <a href="/report/speciality_salary?filter%5Bcampaign%5D%5B%5D=3&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D="><img src="/report/2015/Repartition_du_salaire_par_specialite.jpg" /></a>


        <h2>Et PHP ?</h2>

            La part de PHP 5.6 à beaucoup progressée depuis 2014 au détriment de 5.4 et 5.3. Toutefois, on peut constater qu'en entreprise, 45% des répondants ont déclaré travailler sur des versions obsolètes de PHP.

            <a href="/report/php_version?filter%5Bcampaign%5D%5B%5D=3&filter%5Bsalary%5D%5Bmin%5D=&filter%5Bsalary%5D%5Bmax%5D=&filter%5Bsubmit%5D=">
                <img src="/report/2015/Versions_de_PHP.jpg" alt="Versions de PHP" />
            </a>
        </div>

        <div class="col-md-4">
            <h1>Résultats détaillés</h1>

            <div class="well">
                {% block menu_reports knp_menu_render('reports_menu', {}, 'reports') %}
            </div>
        </div>

    </div>
{% endblock %}