afup_barometre_homepage:
  path: /
  methods: GET
  controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
  defaults:
    path: /report/2025
    permanent: false

afup_barometre_form:
  path: /campaign/2025
  methods: GET
  controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController
  defaults:
    path: /about

controllers:
  resource:
    path: ../src/Controller/
    namespace: App\Controller
  type: attribute
