{% extends "base.html.twig" %}

{% block body %}

    {% block header %}
    <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                {% block brand %}
                    <a class="navbar-brand" href="{{ path('afup_barometre_homepage') }}">Baromètre</a>
                {% endblock %}
            </div>
            <div class="collapse navbar">
                {% block menu knp_menu_render('menu') %}
            <div class="navbar-right">
                <a href="http://www.afup.org" target="_blank">
                    <img src="/logos/logo-afup.png" alt="AFUP" class="logo afup" />
                </a>
                <a href="http://www.agence-e.fr" target="_blank">
                    <img src="/logos/logo-agencee.png" alt="Agence E" class="logo agencee mg-right" />
                </a>
            </div>
            </div>
        </div>
    </header>
    {% endblock header %}

    {% block main %}
    <div class="container-fluid main">
        <section class="content">
            {% block content '' %}
        </section>
    </div>
    {% endblock main %}

    {% block footer %}
    <footer class="page-footer">
        <div class="content">
            <p>Baromètre <a href="http://www.afup.org" target="_blank">AFUP</a> – <a href="http://www.agence-e.fr" target="_blank">Agence-e</a> 2014</p>
        </div>
    </footer>
    {% endblock footer %}

{% endblock body %}

{% block ga %}
    {{ include('AfupBarometreBundle:Default:ga.html.twig') }}
{% endblock %}
