	<meta name="msapplication-square70x70logo" content="/images/favicons/windows-tile-70x70.png">
	<meta name="msapplication-square150x150logo" content="/images/favicons/windows-tile-150x150.png">
	<meta name="msapplication-square310x310logo" content="/images/favicons/windows-tile-310x310.png">
	<meta name="msapplication-TileImage" content="/images/favicons/windows-tile-144x144.png">
	<meta name="msapplication-TileColor" content="#B16BC515E317">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon.png">
	<link rel="shortcut icon" href="/images/favicons/favicon.ico">
	<link rel="icon" type="image/png" sizes="64x64" href="/images/favicons/favicon.png">
