<div class="report-title">Distribution des types d'entreprises.</div>

<table class="bar-table highchart"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1"
>
    <thead>
        <tr>
            <th>Type d'entreprise</th>
            <th>Nombre de réponses</th>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td>{{ row.companyType|enum_label('company_type') }}</td>
                <td>{{ row.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
