<table class="highchart highchart-align-xaxis-left-labels table table-striped tablesorter"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1"
       data-graph-inverted="1"
       data-graph-xaxis-labels-align="right">
    <thead>
    <tr>
        <th>{{ "report.view.other_language" | trans }}</th>
        <th>{{ "report.view.response_number" | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in results %}
        <tr>
            <td>{{ row.otherLanguage|enum_label('other_language') }}</td>
            <td class="text-right">{{ row.nbResponse }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
