<div class="report-title">Distribution des salaires.</div>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Salaire</td>
            <td>Nombre de réponses</td>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td>
                    {{ row.salarySliceFrom|number_format }}
                    -
                    {{ row.salarySliceTo|number_format }}
                </td>
                <td>{{ row.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
