<div class="report-title">Distribution des salaires.</div>

<table class="bar-table highchart highchart-align-xaxis-left-labels"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1"
       data-graph-inverted="1"
       data-graph-xaxis-labels-align="right"
>
    <thead>
        <tr>
            <th>Salaire</th>
            <th>Nombre de réponses</th>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td>
                    {{ row.salarySliceFrom|number_format }}
                    -
                    {{ row.salarySliceTo|number_format }}
                </td>
                <td>{{ row.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
