<div class="report-title">Distribution des spécialités.</div>

<table class="bar-table highchart highchart-align-xaxis-left-labels"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1"
       data-graph-inverted="1"
       data-graph-xaxis-labels-align="right">
    <thead>
        <tr>
            <th>Spécialité</th>
            <th>Nombre de réponses</th>
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
            <tr>
                <td>{{ row.speciality }}</td>
                <td>{{ row.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
