<table class="table table-striped highchart tablesorter"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-group-padding="0.2"
    >
    <thead>
        <tr>
            <th>{{ "report.view.experience" | trans }}</th>
            {% for framework in results.columns %}
                <th>{{ framework|trans }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for experience, row in results.data %}
            <tr>
                <td>{{ experience|enum_label('experience') }}</td>
                {% for framework, annualSalary in row %}
                    <td class="text-right">{{ annualSalary|round(-2)|number_format_decimal }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
