<table class="table table-striped highchart tablesorter"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1">
    <thead>
        <tr>
            <th>{{ 'report.view.age' | trans }}</th>
            <th>{{ "report.view.response_number" | trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for row in results %}
        <tr>
            <td>{{ row.age }}</td>
            <td class="text-right">{{ row.nbResponse }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
