<table class="table table-striped highchart tablesorter"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1">
    <thead>
        <tr>
            <th>{{ 'report.view.company_size' | trans }}</th>
            <th>{{ "report.view.response_number" | trans }}</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>Autre</td>
                <td class="text-right">5</td>
            </tr>
            <tr>
                <td>La qualité de vie autour de votre emploi</td>
                <td class="text-right">62</td>
            </tr>
            <tr>
                <td>L'intérêt technique de vos projets</td>
                <td class="text-right">75</td>
            </tr>
            <tr>
                <td>L'ambiance dans l'entreprise</td>
                <td class="text-right">72</td>
            </tr>
            <tr>
                <td>La rémunération</td>
                <td class="text-right">52</td>
            </tr>
            <tr>
                <td>Le domaine métier de vos projets</td>
                <td class="text-right">27</td>
            </tr>
    </tbody>
</table>
