<table class="table table-striped highchart"
       data-graph-container-before="1"
       data-graph-type="column"
       data-graph-legend-disabled="1">
    <thead>
    <tr>
        <th>{{ "report.view.work_method" | trans }}</th>
        <th>{{ "report.view.response_number" | trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in results %}
        <tr>
            <td>
                {{ row.workMethod|enum_label('App\\Enums\\WorkMethodEnums') }}
            </td>
            <td class="text-right">{{ row.nbResponse }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
