on: [push, pull_request]
name: Lint

jobs:
    php-cs-fixer:
        name: PHP-CS-Fixer
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.5'
            - name: Install PHP-CS-Fixer
              run: composer install --prefer-dist --no-progress
              working-directory: tools/php-cs-fixer
            - name: Run PHP-CS-Fixer
              run: tools/php-cs-fixer/vendor/bin/php-cs-fixer fix --diff --dry-run

    phpstan:
        name: PHPStan
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.5'
                  extensions: intl, pdo_mysql
            - name: Install project dependencies
              run: composer install --prefer-dist --no-progress
            - name: Install PHPStan
              run: composer install --prefer-dist --no-progress
              working-directory: tools/phpstan
            - name: Generate Symfony cache
              run: php bin/console cache:warmup --env=dev
            - name: Run PHPStan
              run: tools/phpstan/vendor/bin/phpstan analyse --no-progress

