h1 {
  font-size: 1.35em;
  font-weight: bold;
  margin: 10px 0px;
  padding: 0 0 0 5px;
  text-align: left;
  background-color: #3cc6ff;
  font-variant: small-caps;
  color: #fff;
  width: 45%;
  right: 0;
  top: 0;
  position: absolute;
}

h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0px;
  background-color: #4e71b2;
  width: 35%;
  padding: 1px 1px 1px 5px;
  font-variant: small-caps;
  color: #fff;
}

p {
  text-indent: 5%;
  text-align: justify;
  padding: 15px;
}
