{% block salary_widget %}
    <div class="filter-salary">
        <div class="min">{{ form_widget(form.min, { attr: { "placeholder": "Minimum" } }) }}</div>
        <div class="max">{{ form_widget(form.max, { attr: { "placeholder": "Maximum" } }) }}</div>
    </div>

{% endblock %}


