{% block salary_widget %}
    <div class="">
        <div class="col-md-6">{{ form_widget(form.min) }}</div>
        <div class="col-md-6">{{ form_widget(form.max) }}</div>
    </div>

{% endblock %}


