{% extends "AfupBarometreBundle::layout.html.twig" %}

{% block title %}{{ report.label|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ report.label | trans }}</h1>

    {% block filters render(controller('AfupBarometreBundle:Form:index')) %}

    <hr/>

    {% if report.data|length > minResults %}
        {{ include("AfupBarometreBundle:Report:" ~ report.name ~ ".html.twig", { results: report.data }) }}
    {% else %}
        <div class="alert alert-warning"><strong>Pas de résultat !</strong> Nous n'avons pas assez de données pour construire ce rapport.</div>
    {% endif %}
{% endblock %}
