{% extends "AfupBarometreBundle::layout.html.twig" %}

{% block title %}{{ report.label|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            {% render(controller('AfupBarometreBundle:Report:index', {reportName: report_name })) %}
        </div>
        <div class="col-md-3">
            <h1>Filtres</h1>
            {% block filters render(controller('AfupBarometreBundle:Form:index')) %}
        </div>
    </div>
{% endblock %}
