{% extends '::base.html.twig' %}

{% block body %}
{{ render(controller('AfupBarometreBundle:Filters:index')) }}

<table>
<thead>
  <tr>
    <td>Type d'entreprise</td>
    <td>Nombre de réponses</td>
  </tr>
</thead>
<tbody>
{% for row in results %}
  <tr>
    <td>{{ row.companyType }}</td>
    <td>{{ row.count }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
