{% extends "::base.html.twig" %}

{% block title %}{{ report.label | trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ report.label | trans }}</h1>

    {{ include("AfupBarometreBundle:Report:" ~ report.name ~ ".html.twig", { results: report.data }) }}
{% endblock %}
