{% extends "AfupBarometreBundle::layout.html.twig" %}

{% block title %}{{ report.label|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="page-header">{{ report.label | trans }}</h1>

    {{ include("AfupBarometreBundle:Report:" ~ report.name ~ ".html.twig", { results: report.data }) }}
{% endblock %}
