{% extends "::base.html.twig" %}

{% block title %}{{ report.label | trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="report-title">{{ report.label | trans }}</div>

    {{ include("AfupBarometreBundle:Report:" ~ report.name ~ ".html.twig", { results: report.data }) }}
{% endblock %}
