{% extends "AfupBarometreBundle::layout.html.twig" %}

{% block title %}{{ report.label|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <h1>{{ report.label | trans }}</h1>

    {% block filters render(controller('AfupBarometreBundle:Form:index')) %}

    <hr/>

    {{ include("AfupBarometreBundle:Report:" ~ report.name ~ ".html.twig", { results: report.data }) }}
{% endblock %}